<div class="footer">
  <div class="row">
    <div class="icons">
      <a href="https://www.facebook.com/mediherbals"
        ><mat-icon>facebook</mat-icon></a
      >
      <a href="mailto:mediherbals1981@gmail.com"><mat-icon>email</mat-icon></a>
      <a href="tel:91 9425061638"><mat-icon>phone</mat-icon></a>
      <!--  <a href="#"><mat-icon>facebook</mat-icon></a> -->
    </div>
  </div>

  <div class="row">
    <ul>
      <li><a routerLink="contact">Contact us</a></li>
      <li><a routerLink="about">About Us</a></li>
      <li><a routerLink="privacy">Privacy Policy</a></li>
      <li><a routerLink="terms">Terms & Conditions</a></li>
      <li><a routerLink="faq">FAQ's</a></li>
    </ul>
  </div>

  <div class="row">
    MEDIHERBALS Copyright © 2021 Mediherbals - All rights reserved
  </div>
</div>
