<div class="outer-div">
  <div class="inner-div" *ngIf="ProductData">
    <section class="image-section">
      <section class="full-image">
        <img [src]="imageShown" />
      </section>
      <section class="imagesList">
        <img
          (mouseover)="changeImage(image)"
          *ngFor="let image of ProductData.products_images"
          [src]="image"
        />
      </section>
    </section>
    <section class="text-section">
      <h1>{{ ProductData.product_name }}</h1>
      <h3>{{ ProductData.tag_line }}</h3>
      <span
        ><mat-icon *ngFor="let i of [1, 2, 3, 4, 5]" style="color: gold"
          >star</mat-icon
        ></span
      >
      <h4 *ngIf="productType === 'combo'">
        <span class="price">₹ {{ ProductData.price }} </span>&nbsp;
        <span class="fake_price">₹ {{ ProductData.fake_price }} </span>
      </h4>
      <h4 *ngIf="productType === 'single'">
        <span class="price">₹ {{ ProductData.selectedOption.price }} </span
        >&nbsp;
        <span class="fake_price"
          >₹ {{ ProductData.selectedOption.fake_price }}
        </span>
      </h4>
      <h4>
        {{ ProductData.product_purchasable ? "In Stock" : "Out of Stock" }}
      </h4>
      <div class="set-quantity">
        <form *ngIf="productType === 'single'">
          <mat-form-field appearance="fill">
            <mat-label>Select Product Type</mat-label>
            <select
              matNativeControl
              (change)="changeTag1($event.target.value, i)"
            >
              <option
                *ngFor="let type of ProductData.product_type"
                [value]="type.product_id"
              >
                {{ type.name | titlecase }}
              </option>
            </select>
          </mat-form-field>
        </form>
        <p>Quantity</p>
        <section *ngIf="ProductData.addToCart" class="cart-section">
          <section (click)="removeQuantity()" class="remove-section">
            <mat-icon>remove</mat-icon>
          </section>
          <section class="quantity-section">
            <span style="padding: 2%">{{ ProductData.quantity }}</span>
          </section>
          <section (click)="addToCart()" class="add-section">
            <mat-icon>add</mat-icon>
          </section>
        </section>
        <button
          *ngIf="!ProductData.addToCart"
          mat-raised-button
          color="primary"
          (click)="addToCart()"
        >
          Add To Cart</button
        ><br />
      </div>
      <h4>Description</h4>
      <p [innerHTML]="ProductData.product_description"></p>
      <div *ngIf="productType === 'single'">
        <h4>Indication</h4>
        <ul>
          <li *ngFor="let indicate of ProductData.indication">
            {{ indicate }}
          </li>
        </ul>
      </div>
      <div *ngIf="productType === 'combo'" style="width: 100%">
        <h4>Products</h4>
        <div class="heading-sections">
          <table class="heading-inner">
            <tr style="width: 100%">
              <th class="left-column">Product Name</th>
              <th style="width: 50%">Product Type</th>
            </tr>
            <tr
              style="width: 100%"
              *ngFor="let product of ProductData.products"
            >
              <td class="left-column">
                {{ product.product_name }}
              </td>
              <td style="width: 50%">{{ product.product_type }}</td>
            </tr>
          </table>
        </div>
      </div>
      <div *ngIf="productType === 'single'" style="width: 100%">
        <h4>Composition</h4>
        <div class="heading-sections">
          <table class="heading-inner">
            <tr style="width: 100%">
              <th class="left-column">Ingredient</th>
              <th style="width: 50%">Quantity</th>
            </tr>
            <tr
              style="width: 100%"
              *ngFor="let composition of ProductData.composition"
            >
              <td class="left-column">
                {{ composition.name }}
              </td>
              <td style="width: 50%">{{ composition.quantity }}</td>
            </tr>
          </table>
        </div>
      </div>
    </section>
  </div>
  <div></div>
</div>
