a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: green;
}
.active {
  color: green;
}
button:hover {
  color: lightgray;
}
mat-icon {
  color: black;
}

.example-spacer {
  flex: 1 1 auto;
}
span {
  color: white;
  padding-right: 3%;
}
