<mat-toolbar
  style="background-color: rgb(30, 54, 28); position: fixed; z-index: 1000"
>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="onToggleSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span><a routerLink="/home">MediHerbals</a></span>
  <span class="example-spacer"></span>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
    routerLink="/home/cart"
    routerLinkActive="active"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>
