<div class="outer-div">
  <div class="inner-div">
    <div style="width: 90%">
      <mat-card>
        <mat-card-title>
          <h1>
            {{ isPrivacy ? "Privacy Policy" : "Terms And Conditions" }}
          </h1></mat-card-title
        >
        <mat-card-content
          *ngIf="!isPrivacy"
          [innerHTML]="privacyData?.termsAndCondition"
        ></mat-card-content>
        <mat-card-content
          *ngIf="isPrivacy"
          [innerHTML]="privacyData?.privacyPolicy"
        ></mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
