<div class="outer-div">
  <div class="inner-div">
    <div style="width: 90%">
      <mat-card>
        <mat-card-title>
          <h1>
            {{ isPrivacy ? "Privacy Policy" : "Terms And Conditions" }}
          </h1></mat-card-title
        >
        <mat-card-content
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam est
          orci, aliquam non varius quis, feugiat aliquam dolor. Sed gravida
          laoreet lacus in interdum. Nunc ac nisl quis ex consequat hendrerit.
          Etiam sit amet nibh tellus. Integer facilisis libero vitae massa
          suscipit, nec convallis turpis rutrum. Cras nec felis vestibulum,
          pharetra purus et, fringilla arcu. Vivamus porta velit ex, et molestie
          tellus cursus sit amet. Fusce molestie, lectus non feugiat varius,
          massa lectus facilisis velit, et pulvinar nisi metus vitae justo. Nam
          bibendum eleifend purus, blandit ultricies<br />
          ligula vulputate sed. Integer ultricies<br />
          finibus posuere. Pellentesque eleifend justo neque, et consequat velit
          convallis in. Quisque tempus varius nunc quis pulvinar. Nullam
          blandit, urna in porta dapibus, dolor libero suscipit eros, at
          accumsan eros metus ut velit. Duis venenatis eget leo sodales
          facilisis. Aliquam sodales varius magna, at placerat leo. Duis
          accumsan elementum metus, id condimentum elit mollis non. Ut quis
          sollicitudin mi. Class aptent taciti sociosqu ad litora torquent per
          conubia nostra, per inceptos himenaeos. Phasellus aliquam consectetur
          nisi, ac commodo ipsum volutpat eu. Curabitur et augue et nisi
          placerat suscipit in ut urna. Praesent ac enim sit amet turpis
          placerat convallis. Nulla facilisi. Vestibulum ante ipsum primis in
          faucibus orci luctus et ultrices posuere cubilia curae; Sed
          pellentesque nisl id orci iaculis placerat. Nunc sed augue quis erat
          placerat posuere. Mauris in ante sed diam malesuada laoreet. Proin
          facilisis lacinia ultrices. Lorem ipsum dolor sit amet, consectetur
          adipiscing elit. Fusce id leo sed odio faucibus rhoncus at vitae
          purus. Suspendisse potenti. Sed et maximus lorem. Sed eu urna finibus,
          posuere arcu non, tincidunt metus. Duis at orci eget magna maximus
          iaculis. Quisque congue dui lectus. Quisque eu tempus neque.
          Suspendisse orci mauris, tristique consequat orci in, faucibus dictum
          neque. Aenean dui quam, pellentesque et convallis et, cursus at arcu.
          Nulla ac augue feugiat, efficitur diam a, vulputate metus. Vivamus at
          viverra velit. In sed urna ut eros pharetra elementum nec eget nisi.
          Quisque aliquet dolor at placerat varius. Duis ut nisi efficitur,
          scelerisque metus sed, pellentesque erat. Mauris scelerisque tristique
          dolor ac mollis. Cras tempor viverra dui dapibus dignissim. Donec eu
          diam a lectus condimentum molestie. Nunc suscipit vulputate quam.
          Integer semper justo a lectus porttitor interdum. Nullam pulvinar
          faucibus elit, ut iaculis nisi feugiat non. Phasellus scelerisque
          neque felis, at facilisis lacus interdum et. Sed finibus venenatis
          diam a laoreet. Donec pretium dui eget nisl ultrices, quis congue
          ipsum finibus. Aenean rhoncus orci non faucibus eleifend. Duis ut
          fringilla est, quis auctor tortor. Donec molestie nibh a lorem
          vulputate vulputate. Aliquam ultrices tellus vel magna volutpat, vel
          congue velit mollis. Mauris quis dui auctor, aliquam ligula sit amet,
          consectetur mi. Pellentesque ut mauris euismod, pretium magna non,
          mollis augue. Fusce consequat eros nec arcu tempor accumsan. Cras a
          tortor congue, consectetur ligula convallis, egestas est. Suspendisse
          in suscipit felis, non feugiat sem. Sed viverra, dui at ullamcorper
          commodo, magna nulla lacinia ipsum, non hendrerit nunc dolor sed dui.
          Proin pharetra luctus eros sit amet scelerisque. Phasellus venenatis
          orci eget nibh ultrices varius. Vestibulum vitae nibh rutrum,
          tristique urna non, lacinia diam. Maecenas at iaculis diam. Nunc neque
          nunc, elementum sed imperdiet vel, tincidunt non dui. Donec commodo,
          libero quis consectetur sagittis, est tellus aliquet massa, vel congue
          purus lectus in odio. Quisque et posuere mi. Aenean fringilla varius
          sem faucibus dictum. Praesent quis felis lectus. Pellentesque lacinia
          accumsan libero at imperdiet. Ut at volutpat quam. Nullam rhoncus quam
          et risus consectetur, ac maximus arcu porta. Aliquam ut est vel libero
          placerat tempor nec a nibh. Aliquam erat volutpat. Suspendisse dolor
          nisi, congue at elit ac, accumsan pulvinar dolor. Proin tempus quis
          enim dictum finibus. Nunc suscipit ultrices neque ac consectetur.
          Proin nec justo ut nunc faucibus semper. Aenean euismod mollis ex, ut
          tempus odio. Proin vel molestie erat, quis elementum nibh. Aliquam
          accumsan cursus mi, id consequat augue rutrum et. Suspendisse elit
          lectus, feugiat ut gravida vitae, auctor vitae massa. Ut non luctus
          ante. Nunc sollicitudin erat eu eleifend rutrum. Nulla facilisi. Nulla
          tincidunt magna ut mauris porta, ac venenatis lorem venenatis. Proin
          justo erat, molestie vitae tellus id, vulputate vestibulum felis.
          Aenean aliquet gravida orci eu consequat. Nam eleifend rutrum urna
          eget tristique. In interdum dignissim risus ac blandit. Proin mattis
          sem sed libero pulvinar, aliquet bibendum orci sollicitudin. Mauris
          risus ipsum, faucibus vel ligula vulputate, tempus semper magna. Proin
          dictum feugiat tortor. Vivamus blandit nisl ut risus consequat
          porttitor. Sed lobortis nisl egestas fringilla ullamcorper. Phasellus
          mauris sapien, blandit eu malesuada in, rutrum eu enim. Morbi finibus
          ut eros vitae mattis. Donec congue eget tellus quis auctor. Proin
          iaculis condimentum ligula, ut bibendum lacus consectetur eget. Mauris
          venenatis faucibus ultricies<br />. Morbi nec condimentum tortor.
          Phasellus semper, turpis at maximus tincidunt, augue nisi tincidunt
          orci, eu cursus arcu urna sed sem. Mauris commodo hendrerit ex, ac
          bibendum quam posuere in. Donec viverra est lorem, vitae mollis arcu
          egestas sed. Nulla venenatis neque ac felis mattis luctus. In arcu
          nisi, ultrices id tellus quis, tristique rhoncus diam. In hac
          habitasse platea dictumst. Quisque in leo id nulla tristique congue at
          non lorem. Nunc tellus felis, commodo id maximus id, accumsan ut
          purus. Nunc eget aliquet odio. Morbi congue sollicitudin urna sit amet
          varius. Quisque interdum mollis massa, sed euismod justo tincidunt
          quis. Curabitur eleifend, nunc vitae viverra viverra, orci lectus
          fermentum mi, nec condimentum neque sapien sed diam. Aliquam ut sapien
          at mauris lobortis pharetra vel vel risus.</mat-card-content
        >
      </mat-card>
    </div>
  </div>
</div>
