mat-card-title {
  h1 {
    font-size: xx-large;
    margin: 5%;
  }
}

.outer-div {
  width: 100%;
  height: 100%;
}
.inner-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
mat-card-content {
  text-align: justify;
}
