mat-card-title {
  font-size: 15px;
  cursor: pointer;
}
mat-card-subtitle {
  font-size: 13px;
  cursor: pointer;
}
.fake_price {
  text-decoration: line-through;
  font-size: 13px;
}
.price {
  font-size: 20px;
}
.padding {
  padding: 16px;
}
.outer-div {
  display: flex;
}
.inner-div {
  width: 100%;
  display: flex;
  padding: 10px;
}
mat-card {
  width: 250px;
  padding: 0 !important;
}
.btn-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.remove-section {
  background: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.quantity-section {
  width: 40%;
  display: flex;
  font-size: 20px;
  justify-content: center;
  align-items: center;
}
.add-section {
  background: green;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  cursor: pointer;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-card-actions {
  margin-bottom: 0 !important;
}
