<mat-nav-list role="list" style="padding: 0 !important">
  <mat-list-item
    style="background-color: rgb(30, 54, 28)"
    role="listitem"
    routerLink="/home"
    [routerLinkActive]="'is-active'"
    ><a style="color: white" (click)="sidenavclose()">
      <mat-icon style="color: white">account_circle</mat-icon>
      <span class="nav-caption">Users</span>
    </a></mat-list-item
  >
  <mat-list-item
    role="listitem"
    routerLink="/home"
    [routerLinkActive]="'is-active'"
    ><a (click)="sidenavclose()">
      <mat-icon color="dark">home</mat-icon>
      <span class="nav-caption">Home</span>
    </a></mat-list-item
  >
  <mat-list-item
    role="listitem"
    routerLink="/home/about-us"
    [routerLinkActive]="'is-active'"
    ><a (click)="sidenavclose()">
      <mat-icon color="dark">groups</mat-icon>
      <span class="nav-caption">About Us</span>
    </a></mat-list-item
  >
  <mat-list-item
    role="listitem"
    routerLink="/home/contact"
    [routerLinkActive]="'is-active'"
    ><a (click)="sidenavclose()">
      <mat-icon color="dark">call</mat-icon>
      <span class="nav-caption">Contact Us</span>
    </a></mat-list-item
  >
  <mat-list-item role="listitem" (click)="showItems = !showItems"
    ><a>
      <mat-icon *ngIf="showItems" color="dark">expand_less</mat-icon>
      <mat-icon *ngIf="!showItems" color="dark">expand_more</mat-icon>
      <span class="nav-caption">Shop By Type</span>
    </a></mat-list-item
  >
  <div *ngIf="showItems">
    <ul class="navigationbar" style="margin-left: 15%">
      <li (click)="sidenavclose()" class="subItem">
        <a routerLink="/home/product/single" [routerLinkActive]="'is-active'"
          ><mat-icon>arrow_right</mat-icon>Single Product</a
        >
      </li>
      <li (click)="sidenavclose()" class="subItem">
        <a routerLink="/home/product/combo" [routerLinkActive]="'is-active'"
          ><mat-icon>arrow_right</mat-icon>Combo Product</a
        >
      </li>
    </ul>
  </div>
  <mat-list-item
    role="listitem"
    routerLink="/admin/cities/city-list"
    [routerLinkActive]="'is-active'"
    (click)="sidenavclose()"
    ><a
      ><mat-icon color="dark">shopping_bag</mat-icon>
      <span class="nav-caption">Orders</span></a
    ></mat-list-item
  >
  <mat-list-item
    role="listitem"
    routerLink="/admin/products"
    [routerLinkActive]="'is-active'"
    (click)="sidenavclose()"
    ><a
      ><mat-icon color="dark">help_outline</mat-icon>
      <span class="nav-caption">FAQs</span></a
    ></mat-list-item
  >

  <hr />
  <mat-list-item
    role="listitem"
    routerLink="/policy/TermsAndConditions"
    [routerLinkActive]="'is-active'"
    (click)="sidenavclose()"
    ><a
      ><mat-icon color="dark">list_alt</mat-icon>
      <span class="nav-caption">Terms & Conditions</span></a
    ></mat-list-item
  >
  <mat-list-item
    role="listitem"
    routerLink="/policy/Privacy"
    [routerLinkActive]="'is-active'"
    (click)="sidenavclose()"
    ><a
      ><mat-icon color="dark">list_alt</mat-icon>
      <span class="nav-caption">Privacy Policy</span></a
    ></mat-list-item
  >
  <div class="bottom">
    <button mat-icon-button>
      <mat-icon color="dark">directions_run</mat-icon>
    </button>
    <span class="nav-caption">Logout</span>
  </div>
</mat-nav-list>
