.outer_div {
  width: 80%;
  align-items: flex-start;
}
.User_details_Div {
  display: flex;
  justify-content: space-between;
}
.input_width {
  width: 30%;
}
.address_heading_div {
  margin-bottom: 3%;
}
