<div class="outer-div">
  <div style="width: 100%">
    <app-banner [images]="images"></app-banner>
  </div>
  <div class="product-section" *ngIf="products.length > 0">
    <div class="heading">
      <section>
        <h2 class="haeding-products">Products</h2>
      </section>
      <section>
        <h3>
          <a routerLink="/home/product/single" style="color: gray">See all</a>
        </h3>
      </section>
    </div>
    <div class="product-slider">
      <app-product-slider [products]="products"></app-product-slider>
    </div>
  </div>
  <div class="hr_div">
    <hr />
  </div>
  <div class="product-section" *ngIf="comboProducts.length > 0">
    <div class="heading">
      <section>
        <h2 class="haeding-products">Combo Products</h2>
      </section>
      <section>
        <h3>
          <a routerLink="/home/product/combo" style="color: gray">See all</a>
        </h3>
      </section>
    </div>

    <div class="product-slider">
      <app-combo-product-slider
        [products]="comboProducts"
      ></app-combo-product-slider>
    </div>
  </div>
</div>
