.outer-div {
  width: 100%;
  height: 100%;
  display: flex;
  font-family: "Crimson Pro", serif;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}
img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
.header {
  width: 100%;
  position: relative;
  text-align: center;
  h1 {
    font-size: xxx-large;
  }
  p {
    font-size: initial;
  }
}
.centered {
  color: rgb(58, 83, 51);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  font-size: xx-large;
}

.information-section {
  width: 90%;
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.office {
  width: 35%;
  h3 {
    width: 100%;
    display: flex;
    align-items: center;
    height: fit-content;
  }
  .social-section {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    button {
      margin: 10px;
    }
  }
}
.opeaning-hours {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.form {
  width: 35%;
  background-color: rgb(245, 248, 242);
  padding: 5%;
  border-radius: 20px;
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.map-section {
  margin-top: 5%;
  width: 90%;
  max-height: 500px;
  margin-bottom: 5%;
}
@media only screen and (max-width: 600px) {
  h1 {
    font-size: larger;
  }
  p {
    font-size: 15px;
  }
  .header {
    h1 {
      font-size: x-large;
    }
    p {
      font-size: small;
    }
  }
  .outer-div {
    background-image: url("/assets/Images/Login/Login1.jpg");
    background-position: center;
  }
  .information-section {
    width: 90%;
    flex-direction: column;
  }
  .office {
    width: 100%;
    h1 {
      text-align: center;
    }
    .social-section {
      justify-content: center;
    }
  }
  .opeaning-hours {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
  }
  .form {
    width: 100%;
    margin-top: 10%;
    padding: 0 !important;
    form {
      width: 90%;
      margin: 5%;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .outer-div {
    background-position: bottom;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
  .outer-div {
    background-position: center;
  }
  .header {
    max-height: 550px;
  }
  .information-section {
    width: 90%;
    flex-direction: column;
  }
  .office {
    width: 100%;
    h1 {
      text-align: center;
    }
    .social-section {
      justify-content: center;
    }
  }
  .opeaning-hours {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
  }
  .form {
    width: 100%;
    margin-top: 10%;
    padding: 0 !important;
    form {
      width: 90%;
      margin: 5%;
    }
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header {
    max-height: 550px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header {
    max-height: 550px;
  }
}
