<div class="outer-div">
  <div class="inner-div">
    <section class="item-section">
      <mat-card *ngIf="cartData.length > 0">
        <mat-card-title
          >Check delivery availability in your area</mat-card-title
        >
        <mat-card-content>List</mat-card-content>
      </mat-card>
      <section class="heading">
        <h2>My Cart ({{ cartData.length }} Items)</h2>
        <h2>
          Total :<span *ngFor="let item of cartData; let index = index">
            <span *ngFor="let type of item.product_data.product_type">
              <span
                *ngIf="type.product_id === item.cartData.selected_product_id"
              >
                <span class="price">{{
                  type.price * item.cartData.quantity
                }}</span>
              </span></span
            >
          </span>
        </h2>
      </section>
      <div class="items">
        <mat-card
          style="margin-bottom: 3%"
          *ngFor="let item of cartData; let index = index"
        >
          <mat-card-content>
            <div class="item-detail">
              <section
                class="image-section"
                (click)="
                  navigateToDeatils(
                    item.cartData.product_id,
                    item.cartData.product_type
                  )
                "
              >
                <img [src]="item.product_data.products_images[0]" />
              </section>
              <section class="text-section">
                <h2>{{ item.product_data.product_name }}</h2>
                <h3>{{ item.product_data.tag_line }}</h3>
                <h3>{{ item.cartData.quantity }}</h3>
                <h3 *ngIf="item.cartData.product_type === 'products'">
                  <span *ngFor="let type of item.product_data.product_type">
                    <span
                      *ngIf="
                        type.product_id === item.cartData.selected_product_id
                      "
                    >
                      {{ type.name }}
                    </span>
                  </span>
                </h3>
              </section>
              <section class="amount-section">
                <section>
                  <mat-icon
                    (click)="removeQuantity(index)"
                    style="cursor: pointer"
                    color="warn"
                    >close</mat-icon
                  >
                </section>
                <span *ngIf="item.cartData.product_type === 'products'">
                  <span *ngFor="let type of item.product_data.product_type">
                    <span
                      *ngIf="
                        type.product_id === item.cartData.selected_product_id
                      "
                    >
                      <span class="price">{{ type.price }}</span>
                      &nbsp;
                      <span class="fake_price">{{
                        type.fake_price
                      }}</span></span
                    >
                  </span>
                </span>
                <span *ngIf="item.cartData.product_type === 'comboProduct'">
                  <span class="price">{{ item.product_data.price }}</span>
                  &nbsp;
                  <span class="fake_price">{{
                    item.product_data.fake_price
                  }}</span></span
                >
              </section>
            </div>
          </mat-card-content>
          <!--   <hr />
          <mat-card-actions>
            <button mat-raised-button color="warn">Remove Item</button>
          </mat-card-actions> -->
        </mat-card>
      </div>
    </section>
    <section class="total-section">
      <mat-card>
        <mat-card-title>Price Detail</mat-card-title>
        <mat-card-content>
          <div
            style="
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
            "
          >
            <section
              style="width: 100%; display: flex; justify-content: space-between"
            >
              <h3>Total MRP</h3>
              <h3>765</h3>
            </section>
            <section
              style="width: 100%; display: flex; justify-content: space-between"
            >
              <h3>Discount On MRP</h3>
              <h3>678</h3>
            </section>
            <hr />
            <section
              style="width: 100%; display: flex; justify-content: space-between"
            >
              <h3 style="font-weight: bold">Total Amount</h3>
              <h3 style="font-weight: bold">1679</h3>
            </section>
          </div>
          <hr />
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Place Order</button>
        </mat-card-actions>
      </mat-card>
    </section>
  </div>
</div>
