<div class="outer-div">
  <div class="header">
    <img src="\assets\Images\About Us\about3.jpg" />
    <div class="centered">
      <img style="width: 100px" src="\assets\Images\Logo\onlyLogo.jpg" />
      <h1>About Us</h1>
      <p>
        Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.Lorem ipsum dolor
        sit amet. Lorem ipsum dolor sit amet.
      </p>
    </div>
  </div>
  <div class="breadcrumb">
    <h2 class="center">
      <a routerLink="/home">Home</a>
      <mat-icon>chevron_right</mat-icon>
      <a routerLink="/about" routerLinkActive="active"> About Us</a>
    </h2>
  </div>
  <div class="first-section">
    <section class="image-section">
      <img src="../../../assets/Images/About Us/about6.jpg" />
    </section>
    <section class="text-section">
      <div class="centered">
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sem
          diam, rhoncus nec luctus eu, aliquam at sem. Pellentesque commodo, sem
          sed cursus aliquam, velit ligula rutrum lorem, vel maximus dolor
          sapien id diam. Interdum et malesuada fames ac ante ipsum primis in
          faucibus. Morbi rhoncus ex ut egestas varius. Integer pulvinar gravida
          purus, sit amet egestas mauris fringilla nec. Etiam eu fringilla
          velit, vel interdum elit. Proin ultrices auctor mi, sollicitudin
          scelerisque neque elementum et.
        </p>
        <br />
        <h1 style="font-family: 'Ballet', cursive !important">Manish Sharma</h1>
      </div>
    </section>
  </div>
</div>
