.outer-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.inner-div {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.item-section {
  width: 75%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.total-section {
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.fake_price {
  text-decoration: line-through;
  font-size: 13px;
}
.price {
  font-size: 20px;
}
.heading {
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin: 2% 0;
}
.items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
mat-card {
  width: 100%;
}
.item-detail {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.image-section {
  width: 20%;
  img {
    width: 100%;
    object-fit: fill;
  }
}
.text-section {
  width: 75%;
}
.amount-section {
  width: 15%;
  text-align: right;
}
h2 {
  margin: 0 !important;
}
h3 {
  margin: 0 !important;
}
mat-card-actions {
  width: 100%;
  display: flex;
  justify-content: center;
}
hr {
  background-color: rgb(234, 234, 236);
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .inner-div {
    flex-direction: column;
  }
  .item-section {
    width: 100%;
  }
  .total-section {
    width: 100%;
  }
}
.booked {
  background-image: url("https://cdn0.iconfinder.com/data/icons/common-shopping-1/48/Sed-01-512.png");
  background-size: cover;
}
.shipped {
  background-image: url("https://cdn0.iconfinder.com/data/icons/e-commerce-vol-2/512/7-512.png");
  background-size: cover;
}
.deliverd {
  background-image: url("https://thumbs.dreamstime.com/b/delivered-rubber-stamp-illustration-isolated-white-background-delivered-stamp-124829897.jpg");
  background-size: cover;
}
