/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tangerine&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight&display=swap");
html,
body {
  height: 100%;
  font-family: "Crimson Pro", serif;
}
body {
  margin: 0;
  font-family: "Crimson Pro", serif;
}
.mat-form-field-appearance-outline .mat-form-field-wrapper {
  margin: 0 !important;
  font-family: "Crimson Pro", serif;
}
button {
  color: white !important;
  font-family: "Crimson Pro", serif;
}
.outer-div {
  background-color: white !important;
  padding-top: 10%;
  padding-bottom: 5%;
}
h1 {
  font-size: xx-large;
  font-weight: 500;
  font-family: "Crimson Pro", serif !important;
}
h3 {
  font-size: x-large;
  font-family: "Crimson Pro", serif !important;
}
p {
  font-family: "Crimson Pro", serif !important;
}
span {
  font-family: "Crimson Pro", serif !important;
}
.breadcrumb {
  width: 90%;
  font-family: "Crimson Pro", serif !important;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 2%;
  .center {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .active {
    color: rgb(76, 175, 80);
  }
}
a {
  text-decoration: none;
  color: black;
  font-family: "Crimson Pro", serif !important;
  cursor: pointer;
}
mat-card {
  background-color: white !important;
  border: 1px solid rgb(234, 234, 236);
  box-shadow: none !important;
}
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@media only screen and (max-width: 600px) {
  .outer-div {
    padding-top: 20%;
    padding-bottom: 10%;
  }
}
